<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Game</title>
</head>
<body>
    <h1>Players</h1>
    {% for player in players %}
        <p>
            Player: {{ player.name }} {{ player.choice }}
        </p>
    {% endfor %}
    <hr>
    <section>
        <h2>Game</h2>
        <h3>Player Name and Choice:</h3>
        <form class="game-form">
        <form action="/home" method="post">


            <label for="player_1_choice">Player One Choice?</label>
                <select name="player_1_choice" id="player_1_choice">
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
                    <input type="submit" value="Add Choice">
                    <hr>
    
                    <label for="player_2_choice">Player Two Choice?</label>
                        <select name="player_2_choice" id="player_2_choice">
                        <option value="Rock">Rock</option>
                        <option value="Paper">Paper</option>
                        <option value="Scissors">Scissors</option>
                        <input type="submit" value="Add Choice">
                        <hr>
    </section>
    <div>
        <h1>RESULT</h1>
    </div>
    <hr>
    {% for game in games %}
        <section>
            <h1>RESULT</h1>
            <p>
                GAME:
                {{ player_1.choice }}
                !VS!
                {{player_2.choice}}

            </p>
        </section>
    {% endfor %}


</body>
</html>