<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Game</title>
</head>
<body>
    <h1>Players</h1>
    {% for player in players %}
    <div>
        <p>
            Player: {{ player.name }} {{ player.choice }}
        </p>
    {% endfor %}
    </div>
    <div>
    <section>
        <h2>Game</h2>
        <h3>Choose Player One:</h3>
        <form class="game-form">
        <form action="/home" method="post">

        <label for="player_one">Player One?</label>
        <select name="player_one" id="player_one">
            <option value="Player_1">Player_1</option>
            <option value="Player_2">Player_2</option>
            <option value="Player_3">Player_3</option>
    </section>
    </div>
        <div>
        <section>
            <h3>Choose Player Two</h3>
            <form class="game-form_2">
            <form action="/home" method="post">
            <label for="player_two">Player Two?</label>
            <select name="player_two" id="player_two">
                <option value="Player_1">Player_1</option>
                <option value="Player_2">Player_2</option>
                <option value="Player_3">Player_3</option>

        </section>
        </div>
</body>
</html>