<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Game</title>
</head>
<body>
    <h1>Players</h1>
    {% for player in players %}
        <p>
            Player: {{ player.name }} {{ player.choice }}
        </p>
    {% endfor %}
    <hr>
    <section>
        <h2>Game</h2>
        <h3>Player Name and Choice:</h3>
        <form class="game-form">
        <form action="/home" method="post">


            <label for="player_1_choice">Player One Choice?</label>
                <select name="player_1_choice" id="player_1_choice">
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
                    <input type="submit" value="Add Choice">
                    <hr>
    
                    <label for="player_2_choice">Player Two Choice?</label>
                        <select name="player_2_choice" id="player_2_choice">
                        <option value="Rock">Rock</option>
                        <option value="Paper">Paper</option>
                        <option value="Scissors">Scissors</option>
                        <input type="submit" value="Add Choice">
                        <hr>
    </section>
    <div>
        <h1>RESULT</h1>
    </div>
    <hr>
    {% for game in games %}
        <section>
            <h1>RESULT</h1>
            <p>
                GAME:
                {{ player_1.choice }}
                !VS!
                {{player_2.choice}}


            </p>
        </section>
    {% endfor %}


</body>
</html>

<!-- Where do i put the game logic
How do i tell the html to use game logic and return me what i harcoded in my game logic(outomes) 
How in html do i write the outcome of the form to actually display the input and how to adress it to game logic(elif statements"to return what i need)-
in route what is the moment to adress my new game function to actually add it to games
base.html why what for and why to use it and complicate your own life.
if i  lets say create myself a link on a website i understand i need to create new template .html and then route to acutally enter
adress and render new website page i needed but if i have no links on my website(like this game)why use it ?-
How to write logic in {{}} to refer to if statement(my game logic)>
